/*******************************************************************************/
/* defaults ********************************************************************/
/*******************************************************************************/

:root {
  --to-sky: #e8f3f9;
  --sky: #d6e7f2;
  --from-sky-200: #889cc7;
  --from-sky-300: #2859a0;
  --from-sky-500: #0e5277;
  --text-black: #061b35;
  --serif-font: "Libre Baskerville", serif;
  --font-size-900: 1.802rem;
  --font-size-800: 1.602rem;
  --font-size-700: 1.424rem;
  --font-size-600: 1.266rem;
  --font-size-500: 1.125rem;
  --font-size-400: 1rem;
  --font-size-300: 0.889rem;
  --font-size-200: 0.79rem;
  --fs-h2-posts: 1.953rem;
  --fs-p-posts: 1rem;
  --font-size-100: 0.702rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  background-color: var(--to-sky);
  font-size: 100%;
} /*16px*/

body {
  min-height: 100vh;
  background-image: linear-gradient(
    0deg,
    rgba(217, 175, 217, 0.3) 0%,
    rgba(151, 217, 225, 0.3) 100%
  );

  line-height: 1.75;
  font-weight: 400;
  font-family: var(--serif-font);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--serif-font);
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  font-size: var(--font-size-900);
}

h2 {
  font-size: var(--font-size-800);
}

h3 {
  font-size: var(--font-size-700);
}

h4 {
  font-size: var(--font-size-600);
}

h5 {
  font-size: var(--font-size-500);
}

small,
.text_small {
  font-size: var(--font-size-300);
}

li {
  list-style-type: none;
}

/*******************************************************************************/
/* non-defaults ****************************************************************/
/*******************************************************************************/

.index {
  max-width: 875px;
  background-color: var(--to-sky);
}

.hat {
  height: 20rem;
  width: 100vw;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url("/images/sky.jpg");
  background-size: cover;

  text-align: center;
  color: white;

  h1 {
    font-weight: 100;
    font-size: 3rem;
  }

  nav {
    display: flex;

    a {
      color: white;
    }

    ul {
      margin: 0 auto;
      display: flex;
      align-items: end;

      li {
        padding: 0.5rem 1rem 0.5rem 1rem;
        border: 1px solid;
        border-bottom: 0;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

.posts {
  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    padding-bottom: 44vh;
    li {
      background: rgb(239, 10, 98);
      background: linear-gradient(
        360deg,
        var(--to-sky) 26%,
        rgba(237, 160, 200, 0.31) 100%
      );
      border-radius: 0.2rem;
      list-style-type: none;
      padding: 0.8rem 0.8rem 0.8rem 0.8rem;
      margin: 0.8rem 0.8rem 0.175rem 0.8rem;

      article {
        display: flex;
        flex-flow: column;
        align-content: stetch;

        a {
          font-weight: 600;
          color: var(--from-sky-300);
        }

        h3 {
          border-bottom: 1px solid var(--from-sky-200);
          margin: 0.4rem 0 -0.4rem 0;
          padding-bottom: 0.8rem;
        }

        p {
          margin: 1.1rem 0 0 0;
        }
        .article-date {
          font-style: italic;
          font-size: 1rem;
        }
        .article-title {
          text-decoration: none;
        }
      }
    }
  }

  section {
    margin: 0 0.8rem;
    margin-top: 4rem;

    h2 {
      margin-top: 1.7rem;
    }

    ol {
      margin: 1rem 0 0 0;
      border-radius: 0.2rem;

      & > li p {
        text-align: right;
        margin: 0 1.1rem 0 0;
      }
    }

    ul {
      background: rgba(67, 214, 230, 0.1) 100%;

      li {
        margin: 1rem 0.3rem 1rem 0.3rem;

        a {
          color: black;
          text-decoration: none;
        }
      }

      & > li {
        text-align: left;
      }
    }
  }
}

/* contact.html styles */
.contact {
  padding-top: 11vh;
  padding-bottom: 44vh;

  h1 {
    text-align: center;
    padding-bottom: 10vh;
  }
  
  form {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 25rem;
    padding: 0 2vw;   

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 6vh;
    }
  }
}

@media screen and (min-width: 420px) {
  body {
    .index {
      /* why am i doing this? -*/
      box-sizing: content-box;
      /* end -*/

      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      .hat {
        text-align: end;

        h1 {
          margin: 0rem 0 0 0;
          font-size: 4.5rem;

          .highlight {
            background-color: rgba(166, 208, 224, 0.4);
            padding-bottom: -1.9rem;
          }
        }
        nav {
          align-self: flex-end;

          ul {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
  .posts {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* .index styles for landscape mode on mobile phones (min-w: 750px) */
@media screen and (min-width: 750px) {
  .index {
    height: auto;
    margin: 0 auto;

    .hat {
      h1 {
        margin: 0 auto;
        font-size: 4rem;
      }
    }

    .posts {
      ul {
        margin-top: 1.6rem;

        li {
          margin: 0.8rem 1.8rem 0.175rem 1.8rem;
          margin-top: 0.5rem;
          margin-bottom: 1.6rem;

          article {
            a {
              font-size: 1.4rem;
              margin-bottom: 0;
            }
            p {
              margin-top: 0.7rem;
              line-height: 1.44;
              font-size: 1.2rem;
            }
            .article-date {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

/* 3. <post>.html */

.post {
  background-color: #f6f6fd;
  
  header {
    height: 4rem;
  }

  .text {
    padding-bottom: 4rem;

    h2 {
      font-size: var(--fs-h2-posts);
      margin: 1rem;
      /* text-decoration: underline; */
    }
    h3 {
      font-size: 1.5rem;
      margin: 1rem;
    }
    h4 {
      font-size: 1.15rem;
      margin: 1rem;
    }
    p {
      line-height: 1.4;
      font-size: var(--fs-p-posts);
      margin: 1rem;
    }
    ul {
      line-height: 1.4rem;
      margin: 1rem;

      li {
        list-style-type: none;
      }
    }

    img {
      display: block;
      width: 100vw;
      margin-bottom: 1.8rem;
    }
  }
}

@media screen and (min-width: 800px) {
  .post {
    max-width: 1000px;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    > nav {
      margin: 0 0 0 0;
      padding: 1rem 0 0 1.5rem;
    }

    .hat {
      margin: 0 0 4rem 0;
    }
    .text {
      margin: 0 0 4rem 0;

      p,
      ul,
      li,
      h2,
      h3,
      h4 {
        margin: 2rem 12rem 0rem 5rem;
      }
      hr {
        /* color: rgb(255, 255, 255); */
        margin-top: 2rem;
        margin-right: 2rem;
        margin-left: 2rem;
      }
      h2 {
        margin-top: 0;
        margin-bottom: 2rem;
      }
      h3,
      h4 {
        margin-bottom: 1rem;
      }
      p {
        margin-top: 0;
        margin-bottom: 2rem;
      }
      h2 {
        /* font-size: 3.5rem; */
        padding: 3rem 0 0 0;
      }
      li {
        margin: 0.5rem 0 0 0;
      }
      img {
        max-width: 800px;
        margin-bottom: 2.3rem;
      }
      ul {
        border: 2px solid rgb(229, 229, 247);
        border-radius: 3px;
        padding: 1rem 1rem 1.5rem 1.25rem;
      }
      pre {
        margin-bottom: 2.5rem;
        margin-right: 7.5rem;
        margin-left: 4.75rem;
      }
    }
  }
}


/* 4: about.html styles */

.about {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 2.5rem;
  }

  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .imageholder {
      width: 300px;
      height: 300px;
      background-size: cover;
      border-radius: 1rem;
      border: 5px solid aliceblue;
      margin-bottom: 1rem;

      &:nth-child(1) {
        opacity: 0.85;
        background-position-x: -91px;
        /* transform: rotate(270deg); */
        width: 80vw;
        height: 80vw;
      }

      &:nth-child(2) {
        background-position-x: -94px;
        opacity: 0.85;

        width: 80vw;
        height: 80vw;
      }

      &:nth-child(3) {
        z-index: 1;

        opacity: 0.9;
      }

      &:nth-child(4) {
        background-position-x: -48px;
        background-position-y: 2px;
        width: 80vw;
        height: 80vw;
        z-index: 2;
      }
    }
  }

  aside {
    p {
      margin-bottom: 1rem;
    }
  }
}

/*******************************************************************************/
/* vendor **********************************************************************/
/*******************************************************************************/

/* default word wrapping for prsimjs pre and code blocks */
code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap !important;
}
