<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Posts and Programs</title>
  <link rel="stylesheet" href="./css/parsed.style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="index">
    <main class="primary">
    <section class="hat">
      <h1>
        <span class="highlight">posts</span> and
        <span class="highlight">p</span>rograms
      </h1>
      <nav>
        <ul>
          <li><a href="">posts</a></li>
          <li><a href="/contact">contact</a></li>
          <li><a href="./about">about</a></li>
        </ul>
      </nav>
    </section>
    <section class="posts">
      <details open>
        <summary>
          <h2>recent posts</h2>
        </summary>
        <ul>
	  {%- for post in collections.post | reverse -%}
          <li>
            <article>
		    <a class="article-title" href="{{ post.url }}">{{ post.data.title }}</a>
		    <p class="article-date">{{ post.data.date | DATE_HUGE }}</p>
		    <p>{{ post.data.description }}</p>
            </article>
          </li>

	{%- endfor -%}
	</ul> 
      </details>
    </section>
    </main>
    <aside>
      <section>
        <h2>All posts</h2>
        <ol>
          <li>
            <p>August 2021</p>
            <ul>
              <li>
                <a href="./posts/20210808.html">Another text processing challenge</a>
                <em>(8/8/2021)</em>
              </li>
            </ul>
          </li>
          <li>
            <p>July 2021</p>
            <ul>
              <li>
                <a href="./posts/20210722.html">Showdown (js): Use an extension to remove &lt;p> tags
                  surrounding inline elements</a>
                <em>(7/22/2021)</em>
              </li>
              <li>
                <a href="./posts/20210715.html">Magic Pattern: Fix for opacity bleeding into child
                  elements</a>
                <em>(7/15/2021)</em>
              </li>
            </ul>
          </li>
          <li>
            <p>June 2021</p>
            <ul>
              <li>
                <a href="./posts/20210621.html">The Number of Atoms</a>
                <em>(6/21/2021)</em>
              </li>
              <li>
                <a href="./posts/20210618.html">Solutions to exercises from <em>JS: Hard Parts</em>
                </a>
                <em>(6/18/2021)</em>
              </li>

    </aside>
  </div>
</body>

</html>

